pre + * {
  margin-top: 20px;
}
.example {
  margin: 0 -160px 20px;
}

p code {
  font-size: .8em;
}

.btn {
  background: none;
  border-radius: 2px;
  border: 2px solid;
  box-shadow: 0 0 0 0px #fff;
  color: #ddd;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transform: scale(1);
  transition: box-shadow .2s, color .2s;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 0 0 1px #fff;
  color: #fff;
}

.btn:active {
  transform: translateY(2px);
}


.w-50 {
  float: left;
  padding: 2%;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .example {
    padding: 10px;
    margin: 0 0 20px;
  }

  .w-50 {
    float: none;
    width: auto;
  }
}




/*

  The Image Component

*/


.img-block {
  display: inline-block;
  margin: 0;
  position: relative;
}

.img-block:hover .img-block__caption,
.img-block:focus .img-block__caption {
  opacity: 1;
}

.img-block__img {
  display: block;
  width: 100%;
}

.img-block__caption {
  background: rgba(150, 30, 120,.8);
  color: #fafafa;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  transition: opacity .2s, transform .2s, padding .2s;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 500px) {
 .img-block__caption {
    padding: 10px;
  }
}

.img-block__title {
  color: #fff;
  font-size: 1.2em;
}

.img-block__btn {
  bottom: 20px;
  position: absolute;
  right: 20px;
  transform: scale(1);
  transition: transform .1s;
  z-index: 5;
}

.img-block__text {
  font-size: .8em;
}

.img-block__text a {
  color: #fff;
  font-weight: bold;
}



/*

  The variations

*/

/* block 1 */
.img-block--1 .img-block__caption {
  border: 1px solid #000;
  box-shadow: inset 0 0 0 10px rgba(100, 0, 80, 1);
  transform: scale(1);
}

.img-block--1:hover .img-block__caption,
.img-block--1:focus .img-block__caption {
  box-shadow: inset 0 0 0 18px rgba(100, 0, 80, 1);
  padding: 40px;
  transform: scale(1.05);
}


/* block 2 */
.img-block--2 {
  overflow: hidden;
}

.img-block--2 .img-block__caption {
  box-shadow: 0 0 20px rgba(0,0,0,.9);
  height: 70%;
  transform: translate(-10%, -90%);
}

.img-block--2:hover .img-block__caption,
.img-block--2:focus .img-block__caption {
  transform: translate(0%, 0%);
}

.img-block--2:after {
  background: rgba(0,0,0,0);
  bottom: -90%;
  content: '';
  height: 30%;
  left: 0;
  position: absolute;
  transition: bottom .2s;
  width: 100%;
}

.img-block--2:hover:after,
.img-block--2:focus:after {
  background: rgba(0,0,0,.6);
  bottom: 0%;
}


/* block 3 */
.img-block--3 {
  overflow: hidden;
}

.img-block--3 .img-block__caption {
  transform: translateX(-100%);
}

.img-block--3:hover .img-block__caption,
.img-block--3:focus .img-block__caption {
  transform: translateX(0%);
}


/* block 4 */
.img-block--4 .img-block__caption {
  opacity: 1;
}

.img-block--4 .img-block__img {
  position: relative;
  transform-origin: left bottom;
  transition: transform .2s;
  z-index: 3;
}

.img-block--4:hover .img-block__img,
.img-block--4:focus .img-block__img {
  transform: scale(.4);
}


/* block 5 */
.img-block--5 {
  overflow: hidden;
}

.img-block--5:before,
.img-block--5:after {
  content: '';
  position: absolute;
  transition: left .2s, right .2s, top .2s, bottom .2s;
  width: 100%;
}

.img-block--5:before {
  background: rgba(255,255,255,.75);
  height: 60%;
  left: -100%;
  top: -10%;
}

.img-block--5:after {
  background: rgba(0,0,0,.75);
  bottom: -10%;
  height: 40%;
  right: -100%;
}

.img-block--5:hover:before,
.img-block--5:focus:before {
  left: 0%;
  top: 0%;
}

.img-block--5:hover:after,
.img-block--5:focus:after {
  bottom: 0%;
  right: 0%;
}


/* block 6 */
.img-block--6 {
  overflow: hidden;
}
.img-block--6 .img-block__img {
  position: relative;
  transform: translateY(0%) scale(1);
  transition: transform .2s;
  z-index: 3;
}

.img-block--6:hover .img-block__img ,
.img-block--6:focus .img-block__img {
  transform: translateY(-70%) scale(.4);
}


/* block 7 */
.img-block--7 .img-block__img {
  box-shadow: 0 0 0 0px rgba(150, 30, 120,1);
  position: relative;
  transition: box-shadow .166s;
  z-index: 3;
}

.img-block--7:hover .img-block__img ,
.img-block--7:focus .img-block__img {
  box-shadow: 0 0 0 20px rgba(150, 30, 120,1);
}

.img-block--7 .img-block__caption {
  bottom: 0;
  box-shadow: 0 0 0 0px rgba(150, 30, 120,1);
  height: 0;
  overflow: hidden;
  top: auto;
  transform: translateY(0%);
  transition: transform .3s .2s, box-shadow .2s .1s;
}

.img-block--7:hover .img-block__caption,
.img-block--7:focus .img-block__caption {
  background: rgb(150, 30, 120);
  box-shadow: 0 -20px 0 20px rgba(150, 30, 120,1);
  height: auto;
  transform: translateY(100%);
}


/* block 8 */
.img-block--8 .img-block__caption {
  padding: 130px 0 0 30px;
}

.img-block--8:hover .img-block__caption,
.img-block--8:focus .img-block__caption,
.img-block__btn:focus + .img-block__caption {
  padding: 30px;
  transition: transform .4s;
}

.img-block--8 .img-block__caption,
.img-block--8 .img-block__caption {
  transform: rotateY(-180deg);
}

.img-block--8:hover .img-block__caption,
.img-block--8:focus .img-block__caption {
  transform: rotateY(0deg);
}


/*
  All demos fall back to a simpler base focus animation, that has some of
  the effects of its hover animation
*/
.img-block__btn:focus + .img-block__caption {
  height: 100%;
  opacity: 1;
  transform: translate(0,0);
  z-index: 3;
}

.img-block__btn:hover,
.img-block__btn:focus {
  transform: scale(1.1)
}


/*
  Focus and Hover don't work so well on touch devices, potentially
  rendering captions inaccessible.

  These styles reset (or in some cases force-reset) the styling
  to make the content visible by default.
*/

.if-touch-device .btn {
  padding: 8px 12px;
}

.if-touch-device .img-block__caption,
.if-touch-device .img-block:hover .img-block__caption {
  box-shadow: none;
  height: auto;
  opacity: 1;
  padding: 12px 12px 64px;
  position: static;
  transform: none;
}


.if-touch-device .img-block:hover:after,
.if-touch-device .img-block:hover:before {
  display: none;
}

.if-touch-device .img-block:hover .img-block__img {
  box-shadow: none;
  transform: none;
}
