/*
  Modal Overlay
*/
.modal-overlay {
  background: rgba(0,0,0,.8);
  height: 100%;
  left: 0;
  display: flex;
  overflow: auto;
  padding: 1.5em;
  position: fixed;
  top: 0;
  transition: opacity .2s;
  width: 100%;
  z-index: -1;
}

.modal-overlay[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
}

.modal-overlay[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

/*
  Modal Content Area
*/
.modal-content {
  background: #ddd;
  margin: auto;
  max-width: 920px;
  overflow: auto;
  overflow-x: hidden;
  padding: 1.5em;
  position: relative;
  transform: scale(.8);
  transition: transform .3s;
  width: 100%;
}

.modal-overlay[aria-hidden="false"] .modal-content{
  transform: scale(1);
}


/*
  iFrame Specific
*/
.modal-aspect-container {
  max-height: 480px;
  max-width: 854px;
  margin: auto;
}

.modal-aspect {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.modal-iFrameElement {
  background: #000;
  border: none;
  height: 100%;
  left: 0;
  margin: auto;
  max-height: 480px;
  max-width: 853px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 4;
}


/*
  General Modal Content
*/
#modal-title {
  margin-top: 0;
  padding-right: 1.25em;
}



/*
  Close Modal Button
*/
.modal-close {
  background: none;
  color: #111;
  font-family: arial;
  font-size: 3em;
  font-weight: 800;
  border: none;
  line-height: .75em;
  cursor: pointer;
  right: .25em;
  padding: 0;
  position: absolute;
  top: .25em;
  z-index: 2;
}

.modal-close span {
  display: block;
  height: 34px;
  overflow: hidden;
  text-align: center;
}

.modal-close:focus span {
  outline: 1px dotted;
}


/*
  Hide things
*/
.invis {
  color: transparent;
  font-size: 1px;
  position: absolute;
  right: -99999px;
}
