.modal-overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  display: flex;
  overflow: auto;
  padding: 1.5em;
  position: fixed;
  top: 0;
  transition: opacity .2s;
  width: 100%;
  z-index: -1;
}

.modal-overlay[aria-hidden="true"] {
  opacity: 0;
  visibility: hidden;
}

.modal-overlay[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-content {
  background: #efefef;
  margin: auto;
  max-width: 800px;
  overflow: auto;
  overflow-x: hidden;
  padding: 1.5em;
  position: relative;
  transform: scale(0.8);
  transition: transform .3s;
  width: 100%;
}

.modal-overlay[aria-hidden="false"] .modal-content {
  transform: scale(1);
}

#modal-title {
  margin-top: 0;
  padding-right: 1.25em;
}

.btn-close {
  background: none;
  border: none;
  cursor: pointer;
  font-family: arial;
  font-size: 2em;
  font-weight: 800;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: .25em;
  top: .25em;
  z-index: 2;
}

.btn-close:focus {
  outline: 1px dotted;
}

.btn-close:hover {
  color: #921c2b;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: arial;
}

body, html {
  background: #fdf7f8;
  color: #450c13;
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

a {
  color: #921c2b;
}

a:hover {
  color: #c12f48;
}

.content-area {
  margin: auto;
  max-width: 900px;
  padding: 20px;
}

.menu {
  background: #fff;
  border-bottom: 1px solid #bbb;
  margin: 0;
  padding: 12px 8px 0;
  text-align: center;
}

input[type="submit"], input[type="button"] {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn:focus, .input:focus, .modal-content:focus {
  outline: 1px solid #ccc;
  box-shadow: 0 0 4px #e8a1ad;
}

.btn {
  background: #921c2b;
  border: 1px solid #4d0912;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 12px;
  padding: 16px 24px;
  position: relative;
  text-align: center;
  transition: transform .2s, background .2s;
}

.btn:hover, .btn:focus {
  background: #c12f48;
  transform: scale(1.1);
  z-index: 3;
}

label {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: .5em;
}

.input {
  border: 1px solid #333;
  display: block;
  font-size: 1.4em;
  margin-bottom: 1em;
  min-width: 230px;
  padding: 8px;
  width: 100%;
}
